node-linker=hoisted
public-hoist-pattern[]=metro
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=expo*
public-hoist-pattern[]=react-native
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=whatwg-*
ignore-scripts=false
enable-pre-post-scripts=true
